<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="./vue2.js"></script>
    <style>
        #app {
            width: 600px;
            margin: 10px auto;
        }

        .tb {
            border-collapse: collapse;
            width: 100%;
        }

        .tb th {
            background-color: #0094ff;
            color: white;
        }

        .tb td,
        .tb th {
            padding: 5px;
            border: 1px solid black;
            text-align: center;
        }

        .add {
            padding: 5px;
            border: 1px solid black;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="add">
            编号:
            <input  v-model="nId"> 
            品牌名称:
            <input  v-model="nName">
            <input type="button" value="添加" @click="add">
        </div>

        <div class="add">
            品牌名称:
            <input type="text" placeholder="请输入搜索条件" v-model="searchVal">
        </div>

        <div>
            <table class="tb">
                <tr>
                    <th>编号</th>
                    <th>品牌名称</th>
                    <th>创立时间</th>
                    <th>操作</th>
                </tr>
                <!-- 记得要加 key -->
                <!-- v-show="flag" -->
                <tr v-for="(item,index) in search":key="index">
                    <!-- <td>{{search}}</td> -->
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime}}</td>
                    <td>
                        <!-- 将 item.id 作为参数传入,直接传 index 不太好 -->
                        <a href="#" @click="del(item.id)">删除1</a>
                        <a href="#" @click="delx(item)">删除2</a>
                    </td>
                </tr>
                <!-- 判断是否有数据 -->
                <tr v-if="search.length === 0">
                    <td colspan="4">没有品牌数据</td>
                </tr>
                <!-- 动态生成内容tr -->
            </table>
        </div>
    </div>
</body>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                nId: '',
                nName: '',
                // flag: false,
                list: [],
                searchVal: ''
            },
            methods: {
                add(){
                    // this.flag=true;
                    if (!this.nId || !this.nName ) {
                        return;
                    }
                    this.list.push({id: this.nId , name: this.nName , ctime: new Date().toLocaleDateString()})
                    console.log(this.list);
                },
                /* 2类删除方法 */
                del(idd){
                    // console.log(idd);
                    /* forEach 方法 */
                    this.list.forEach( (item , index)=>{
                        if(item.id === idd){
                            console.log(index ,item);
                            this.list.splice(index, 1)
                        }
                    })
                    
                    /* for 方法 */
                    // for(var i=0; i < this.list.length; i++){
                    //     var a = this.list[i];
                    //     if(a.id === idd){
                    //         console.log(i);
                    //         // 这个 i 即为forEach中的 index 
                    //         this.list.splice(i , 1)
                    //     }
                    // }
                },
                delx(idd){                
                    /* indexOf 方法 */
                    // 此时 idd 获取的是上面的 item ，即一个数组里的一个对象
                    // let index = this.list.indexOf(idd)
                    // index 的值为删除项的 下标 或 -1
                    this.list.splice(idd,1)
                    
                },
            },
            // 用 computed 
            computed: {
                search() {
                    // var that = this
                    // function isContainStr (value) {
                    //   // console.log(this);
                    //   // !==-1就表示满足条件，能够找到该字符串
                    //   return value.name.indexOf(that.searchVal) !== -1
                    // }
                    // var tempList = this.list.filter(isContainStr)
                    // return tempList

                    // es6 箭头函数中的this在哪里定义就指向哪
                    // 数组中的 filter 方法   indexOf()
                    let arr = this.list.filter( (item) => {
                        // toUpperCase()字符大写
                        return item.name.toUpperCase().indexOf(this.searchVal.toUpperCase()) !== -1
                    })
                    // console.log(this.list, arr, 6666)
                    return arr
                    // return this.list.filter(value => value.name.indexOf(this.searchVal) !== -1)
                }
            }
        })
    </script>


</html>